[user]
	name = Matthew Brown
	email = matthew.e.brown.17@gmail.com
	signingkey = B0B1F8189AE6CCFE5E7F354A3ACCD07F1192037C
[commit]
	gpgsign = true
[core]
	editor = vim
	pager = delta
	safecrlf = false
[alias]
	ck = checkout
	ch = checkout
	st = status -sb
	stat = status
	lg = log --graph --decorate --all --oneline
	lg1 = log --graph --decorate --all
	amend = commit --amend --no-edit
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
	navigate = true
[delta]
	side-by-side = true
	line-numbers = true
	features = decorations
[init]
	defaultBranch = main
